<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head.html' %}
</head>

<body class="bg-background">
    {% include 'components/navbar.html' %}

    {% if user['2-1']['status'] == True and user['2-2']['status'] == False %}
        <!-- 1asu28d7s6c.png -->
    {% endif %}

    <section class="flex relative justify-center place-items-center my-[50px] w-full min-h-[95vh] hero">
        <div class="w-[95%] md:w-[70%] lg:w-[50%] relative my-[100px]">
            <img src="/static/assets/avatars/{{user['_id']}}.png" class="rounded-full border-8 border-background w-[250px] image">
            <div class="text-center rounded-[30px] min-h-[300px] bg-text p-4 md:p-8">
                <div class="flex justify-center place-items-center">
                    <div class="mt-[125px] md:mt-[100px]">
                        <h1 class="text-background font-nulshock text-center text-xl md:text-3xl">{{user["username"]}}</h1>
                        <h1 class="text-background font-nulshock text-center text-xl">{{user["points"]}}<span class="font-poppins text-base">pt</span></h1>
                    </div>
                </div>

                <div class="flex w-full justify-center">
                    <div class="w-[80%] lg:flex justify-between">
                        <div>
                        <h1 class="text-background mt-[20px] font-nulshock text-center text-xl md:text-2xl">TOTAL TRIES</h1>
                        <h1 class="text-background font-nulshock text-center text-xl">{{user["attempts"]}}</h1>
                        </div>
                        <div>
                            <h1 class="text-background mt-[20px] font-nulshock text-center text-xl md:text-2xl">TOTAL SOLVED</h1>
                            <h1 class="text-background font-nulshock text-center text-xl">{{totalsolved}}</h1>
                        </div>
    
                    </div>

                </div>

                <div class="flex w-full justify-center mb-[20px] mt-[40px]">
                    <div class="w-full md:w-[90%]">
                        <h1 class="text-left text-background font-nulshock text-xl md:text-2xl">
                            SOLVE MATRIX
                        </h1>
                        <table class="w-full border-2 border-background">
                            <tr>
                                <th class="border-2 text-text bg-background font-nulshock border-hard-bg">EXPERIMENT</th>
                                <th class="border-2 text-text bg-background font-nulshock border-hard-bg">SOLVED AT</th>
                            </tr>
                            {% for x in smdata %}
                                <tr>
                                    <td class="border-2 text-text text-left px-2 bg-background font-nulshock border-hard-bg">{{x["name"]}}</td>
                                    <td class="border-2 text-text text-left px-2 bg-background font-nulshock border-hard-bg">{{x["time"]}} IST</td>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>

                </div>


            </div>
            <p class="text-center font-dos text-text text-xl font-bold">Not sure what happened? Join our <a class="text-[#888888]" href="/links/discord">discord!</a></p>
        </div>

    </section>

    {% include 'components/footer.html' %}

</body>

</html>