<section id="footer" class="bg-text w-full p-3">
    <div class="w-full flex place-items-center font-nulshock text-xl">
        <img src="/static/assets/images/acmlogo.svg"> &nbsp; <p> DECODE by <a href="https://linktr.ee/roadtoelicit24"
                class="text-links">MUJ ACM</a></p>
    </div>

    <div class="mt-4">
        <br>
        <p class="font-nulshock text-hard-bg text-lg md:text-3xl">FOLLOW US ON OUR SOCIALS!</p>
        <a href="https://www.instagram.com/elicitmuj" target="_blank" class="text-links font-dos underline text-xl">instagram</a>&nbsp;
        {% if request.url.path == "/level/8/0" %}
        <a href="https://en.wikipedia.org/wiki/Lobotomy" target="_blank" class="text-links font-dos underline text-xl">linkedin</a>&nbsp;
        {% else %}
        <a href="https://www.linkedin.com/company/muj-acm-student-chapter" target="_blank" class="text-links font-dos underline text-xl">linkedin</a>&nbsp;
        {% endif %}
        <a href="mailto:mujacm@gmail.com" target="_blank" class="text-links font-dos underline text-xl">email</a>&nbsp;
        <a href="tel:+918287735005" target="_blank" class="text-links font-dos underline text-xl">phone</a>&nbsp;
    </div>
    <br>
    <h1 class="text-center text-links text-xl md:text-2xl font-dos">
        <a href="https://krishsharma.in" target="_blank">Website by Krish Sharma</a>
    </h1>
</section>

{% if request.url.path == "/level/2/0" %}
<!-- 
Lieber Duce,
ich hoffe, diese Nachricht erreicht Sie wohl und bei guter Laune. Ich schreibe, um meine Bewunderung für Ihre unerschütterliche Führung und klare Vision für die Zukunft Italiens auszudrücken. Ihre Bemühungen, unsere Nation zu modernisieren und den Nationalstolz zu fördern, sind lobenswert. Mit fortgesetztem Engagement für diese Initiativen glaube ich, dass wir gemeinsam bemerkenswerte Fortschritte erzielen können. Ich freue mich darauf, beizutragen und Ihre Ziele für ein wohlhabendes Italien zu unterstützen, und ich blicke gespannt auf unsere Zusammenarbeit in den kommenden Monaten.
Mit freundlichen Grüßen,

Hallo Il Duce,
ich wollte mir nur kurz Zeit nehmen, um dir zu sagen, wie sehr ich alles schätze, was du für unser Land tust! Deine Energie und Entschlossenheit sind ansteckend, und es ist aufregend zu sehen, wie viele positive Veränderungen um uns herum stattfinden. Es ist inspirierend, dich dabei zu beobachten, wie du uns nach vorne führst. Mach weiter so; du motivierst so viele von uns, aktiv zu werden und einen echten Unterschied in unseren Gemeinschaften zu machen. Lass uns die Dynamik beibehalten!
Viele Grüße,


Verehrter Führer,
ich möchte Ihnen zu Ihren bemerkenswerten Bemühungen bei der Revitalisierung Italiens gratulieren und die bedeutende Auswirkung Ihrer Führung anerkennen. Die von Ihnen umgesetzten Richtlinien spiegeln ein starkes Engagement für den nationalen Fortschritt und die Einheit wider. Ich würde mich sehr über die Möglichkeit freuen, Wege zur Zusammenarbeit zu erkunden, die mit Ihrer Vision für ein starkes und vereintes Italien übereinstimmen. Gemeinsam können wir fleißig daran arbeiten, unsere gemeinsamen Ziele zu erreichen und eine bessere Zukunft für alle Bürger zu gewährleisten. Ihre Vision ist wirklich inspirierend.
Mit besten Grüßen,


Hallo Duce!
Ich wollte dir einfach sagen, wie sehr ich deine Leidenschaft und Hingabe für unser Land bewundere. Es ist erfrischend zu sehen, wie jemand so engagiert ist, positive Veränderungen zu bewirken und andere zu inspirieren. Ich bin wirklich gespannt, was die Zukunft unter deiner Führung bereithält. Deine Vision motiviert viele von uns, aktiv zu werden und zu unseren Gemeinschaften beizutragen. Lass uns gemeinsam weitermachen und darauf hinarbeiten, Italien in den kommenden Jahren noch strahlender zu machen!
Alles Gute,
-->
{% endif %}


<script src="/static/assets/js/nav.js"></script>

{% if request.url.path == "/level/8/2" %}

<script>
    // GET fetch /backlink/dn9327hao3jk
    fetch("/backlink/dn9327hao3jk")
        .then(response => response.text())
        .then(data => {
            // :)
        })
        .catch(error => {
            // :(
        });
</script>

{% endif %}